/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// // Layer definitions

#define DEFAULT 0
#define LOWER 1
#define RAISE 2
#define BT 3

// -----------------

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_caps {
            timeout-ms = <50>;
            key-positions = <6 7 8>;
            bindings = <&kp CAPSLOCK>;
        };

        lyr2 {
            bindings = <&to 2>;
            key-positions = <37 36>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB           &kp Q  &kp W  &kp E  &kp R           &kp T           &kp Y          &kp U      &kp I       &kp O      &kp P         &kp ESCAPE
&kp CAPSLOCK      &kp A  &kp S  &kp D  &kp F           &kp G           &kp H          &kp J      &kp K       &kp L      &kp SEMI      &kp SQT
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C  &kp V           &kp LEFT_ALT    &kp B          &kp N      &kp M       &kp COMMA  &kp QUESTION  &kp SLASH
                                &to 1  &kp LEFT_SHIFT  &kp SPACE       &kp BACKSPACE  &kp ENTER  &kp PERIOD
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR|  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |  -   |
            // | SHFT |  +  |  _  |  =  |  /  | "|" |   | LFT |  UP  | DOWN | RGT |  ,  |  .   |
            //                    | BT | DEF | SPC |   | ENT | RSE | ALT |

            bindings = <
&kp TAB    &kp N1    &kp N2     &kp N3     &kp N4    &kp N5       &kp N6         &kp N7    &kp N8           &kp N9     &kp N0     &kp LEFT_GUI
&kp LCTRL  &kp EXCL  &kp AT     &kp HASH   &kp DLLR  &kp PRCNT    &kp CARET      &kp AMPS  &kp KP_MULTIPLY  &kp LPAR   &kp RPAR   &kp MINUS
&kp LSHFT  &kp PLUS  &kp UNDER  &kp EQUAL  &kp BSLH  &kp PIPE     &kp LEFT       &kp UP    &kp DOWN         &kp RIGHT  &kp COMMA  &kp DOT
                                &to 0      &to 2     &kp SPACE    &kp BACKSPACE  &to 3     &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |   #  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  K  |  U  |  S  |  .  | BKSP |
            // | SHFT |  A  |  D  |  F  |  O  |  P  |   |  H  |  ,  |  L  |  ;  |  _  |  ?   |
            // | CTRL |  Z  |  X  |  C  |  V  |  I  |   |  B  |  J  |  N  |  <  |  >  | SHFT |
            //                    | GUI | LWR | SPC |   | ENT | DEF | ALT |

            bindings = <
&kp F1     &kp F2  &kp F3  &kp F4  &kp F5  &kp F6            &kp F7      &kp F8          &kp F9            &kp F10   &kp F11    &kp F12
&kp LSHFT  &kp A   &kp D   &kp F   &kp O   &kp P             &kp H       &kp UP_ARROW    &kp L             &kp SEMI  &kp UNDER  &kp QMARK
&kp LCTRL  &kp Z   &kp X   &kp C   &kp V   &kp I             &kp LEFT    &kp DOWN_ARROW  &kp RIGHT         &kp LT    &kp GT     &kp RSHFT
                           &to 3   &to 0   &kp LEFT_SHIFT    &kp PERIOD  &kp LESS_THAN   &kp GREATER_THAN
            >;
        };

        BT_layer {
            // -----------------------------------------------------------------------------------------
            // | BT CLR | BT 0 | BT 1 | BT 2 | BT 3 | BT 4 |   |     |     |     |     |     |     |
            // |        |      |      |      |      |      |   |     |     |     |     |     |     |
            // |        |      |      |      |      |      |   |     |     |     |     |     |     |
            //                        |  DEF |      | LWR  |   | RSE |     |     |

            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &none  &none  &none  &none  &none
&none       &none         &none         &none         &none         &none           &none  &none  &none  &none  &none  &none
&none       &none         &none         &none         &none         &none           &none  &none  &none  &none  &none  &none
                                        &sys_reset    &none         &to 0           &to 0  &to 1  &to 2
            >;
        };
    };
};
