/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// // Layer definitions

#define DEFAULT 0
#define LOWER 1
#define RAISE 2
#define BT 3

// -----------------

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        LongPress: LongPress {
            compatible = "zmk,behavior-hold-tap";
            label = "LONGPRESS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            flavor = "tap-preferred";
        };

        HMShiftR: HMShiftR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMSHIFTR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-key-positions = <0 1 2 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 3>;
            hold-trigger-on-release;
        };

        HMShiftL: HMShiftL {
            compatible = "zmk,behavior-hold-tap";
            label = "HMSHIFTL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
            hold-trigger-on-release;
        };

        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-key-positions = <0 1 2 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 3>;
            hold-trigger-on-release;
            flavor = "tap-preferred";
        };

        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
            hold-trigger-on-release;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB           &kp Q               &kp W               &kp E               &kp R               &kp T                          &kp Y                           &kp U      &kp I          &kp O       &kp P          &kp ESCAPE
&kp CAPSLOCK      &kp S               &kp S               &kp D               &kp F               &kp G                          &kp H                           &kp J      &kp K          &kp L       &kp SEMICOLON  &kp SQT
&kp LEFT_CONTROL  &LongPress LC(Z) Z  &LongPress RC(X) X  &LongPress RC(C) C  &LongPress RC(V) V  &kp B                          &kp N                           &kp M      &kp COMMA      &kp PERIOD  &kp SLASH      &kp MINUS
                                                          &to 1               &kp LEFT_SHIFT      &LongPress LEFT_SHIFT SPACE    &LongPress RIGHT_ALT BACKSPACE  &kp ENTER  &kp RIGHT_GUI
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR|  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |  -   |
            // | SHFT |  +  |  _  |  =  |  /  | "|" |   | LFT |  UP  | DOWN | RGT |  ,  |  .   |
            //                    | BT | DEF | SPC |   | ENT | RSE | ALT |

            bindings = <
&kp TAB    &kp N1    &kp N2     &kp N3     &kp N4    &kp N5       &kp N6         &kp N7     &kp N8           &kp N9     &kp N0     &kp LEFT_GUI
&kp LCTRL  &kp EXCL  &kp AT     &kp HASH   &kp DLLR  &kp PRCNT    &kp CARET      &kp AMPS   &kp KP_MULTIPLY  &kp LPAR   &kp RPAR   &kp MINUS
&kp LSHFT  &kp PLUS  &kp UNDER  &kp EQUAL  &kp BSLH  &kp PIPE     &kp LEFT       &kp UP     &kp DOWN         &kp RIGHT  &kp COMMA  &kp DOT
                                &to 0      &to 2     &kp SPACE    &kp BACKSPACE  &kp ENTER  &to 3
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |   #  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  K  |  U  |  S  |  .  | BKSP |
            // | SHFT |  A  |  D  |  F  |  O  |  P  |   |  H  |  ,  |  L  |  ;  |  _  |  ?   |
            // | CTRL |  Z  |  X  |  C  |  V  |  I  |   |  B  |  J  |  N  |  <  |  >  | SHFT |
            //                    | GUI | LWR | SPC |   | ENT | DEF | ALT |

            bindings = <
&kp F1     &kp F2  &kp F3  &kp F4  &kp F5  &kp F6            &kp F7     &kp F8          &kp F9     &kp F10  &kp F11  &kp F12
&kp LSHFT  &none   &none   &none   &none   &none             &none      &kp UP_ARROW    &none      &none    &none    &none
&kp LCTRL  &none   &none   &none   &none   &none             &kp LEFT   &kp DOWN_ARROW  &kp RIGHT  &none    &none    &kp RSHFT
                           &to 0   &to 1   &kp LEFT_SHIFT    &kp ENTER  &none           &to 3
            >;
        };

        BT_layer {
            // -----------------------------------------------------------------------------------------
            // | BT CLR | BT 0 | BT 1 | BT 2 | BT 3 | BT 4 |   |     |     |     |     |     |     |
            // |        |      |      |      |      |      |   |     |     |     |     |     |     |
            // |        |      |      |      |      |      |   |     |     |     |     |     |     |
            //                        |  DEF |      | LWR  |   | RSE |     |     |

            bindings = <
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &none  &none  &none  &none  &none
&none        &none         &none         &none         &none         &none           &none  &none  &none  &none  &none  &none
&bootloader  &none         &none         &none         &none         &none           &none  &none  &none  &none  &none  &bootloader
                                         &to 0         &to 0         &to 0           &to 0  &to 1  &to 2
            >;
        };
    };
};
