/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layer definitions
    #define DEFAULT 0
    #define LOWER 1
    #define RAISE 2
    #define BT 3
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &kp LGUI &to 1 &kp SPACE   &kp RET &to 2 &kp RALT
                        >;
                };

                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR|  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |  -   |
// | SHFT |  +  |  _  |  =  |  /  | "|" |   | LFT |  UP  | DOWN | RGT |  ,  |  .   |
//                    | BT | DEF | SPC |   | ENT | RSE | ALT |
                        bindings = <
   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
   &kp LCTRL &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp MINUS
   &kp LSHFT  &kp PLUS    &kp UNDER    &kp EQUAL  &kp BSLH  &kp PIPE    &kp LEFT &kp UP &kp DOWN &kp RIGHT &kp COMMA &kp DOT
                                    &to BT     &to 0       &kp SPACE      &kp RET  &to 2   &kp RALT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |   #  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  K  |  U  |  S  |  .  | BKSP |
// | SHFT |  A  |  D  |  F  |  O  |  P  |   |  H  |  ,  |  L  |  ;  |  _  |  ?   |
// | CTRL |  Z  |  X  |  C  |  V  |  I  |   |  B  |  J  |  N  |  <  |  >  | SHFT |
//                    | GUI | LWR | SPC |   | ENT | DEF | ALT |
                        bindings = <
   &kp HASH   &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp K &kp U &kp S &kp DOT &kp BSPC
   &kp LSHFT  &kp A &kp D &kp F &kp O &kp P    &kp H &kp COMMA &kp L &kp SEMI &kp UNDER &kp QMARK
   &kp LCTRL  &kp Z &kp X &kp C &kp V &kp I    &kp B &kp J &kp N &kp LT &kp GT &kp RSHFT
                             &kp LGUI &to 1   &kp SPACE   &kp RET   &to 0    &kp RALT
                        >;
                };
            
                BT_layer {
// -----------------------------------------------------------------------------------------
// | BT CLR | BT 0 | BT 1 | BT 2 | BT 3 | BT 4 |   |     |     |     |     |     |     |
// |        |      |      |      |      |      |   |     |     |     |     |     |     |
// |        |      |      |      |      |      |   |     |     |     |     |     |     |
//                        |  DEF |      | LWR  |   | RSE |     |     |
                        bindings = <
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &none &none &none &none &none &none       
   &none     &none     &none     &none    &none     &none                         &none &none &none &none &none &none 	
   &none     &none     &none     &none    &none     &none                         &none &none &none &none &none &none
                                 &to 0    &none     &to 1                         &to 2 &none &none
        >;
		};
	};
};

